* {
  box-sizing: border-box;
  background-color:#f19e9e;
}

body {
	text-align: center;
	color: black;
	background-color:rgb(206, 114, 129); 
}

div {
	border:1px solid #5f0834;
	border-radius:5px;
    margin: 20px;
}

p {
	text-align:center;
	padding: 20px;}

input, button {
	font:inherit;
	color:brown;
	width:100px;
	padding-left: 5px;
}

button {
    color:#5f0834;
}

strong {
	font-size:1.2em;
	color:#ff3333; 
}

footer{
	padding-top:190px;
	text-align:center;
	font-size:12px;
	color:#5f0834;
}

a:link {
	color: black;
}

a:visited {
color:#5f0834;
}

.img {
float: left;
max-width: 100%;
}

div[id^='ex_']{
	display:none;
}

  [class*="column"] { 
     width: 80%;
     display:inline-block;
     height:60vh;
	 font-size:1.5em;
  }

  @media only screen
  and (max-width : 800px) {
  /* Styles */
  }